@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Raleway", sans-serif;
  min-width: 100vh;
  height: auto;
}
.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 3rem;
}
.logo-container {
  padding-left: 3rem;
  width: 70%;
  display: flex;
  align-items: center;
}
.navitem-container {
  width: 30%;
  list-style: none;
  display: flex;
}
.list-class {
  margin-right: 3rem;
  padding: 10px;
}
.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  padding-bottom: 12rem;
}
.main1-img {
  width: 90%;
  height: auto;
}
.main-heading {
  font-family: "raleway";
  font-size: 3rem;
  width: 45rem;
  line-height: 4rem;
}
.para-for-heading {
  font-family: "Open Sans";
  width: 32rem;
}
.content-div {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.text-box-main {
  padding: 0.7rem 6.5rem 0.7rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid black;
}
.btn-main {
  padding: 0.7rem 3.2rem 0.7rem 3.2rem;
  border-radius: 0.2rem;
  border: transparent;
  background-color: hsl(224, 93%, 58%);
  cursor: pointer;
  color: white;
}
.input-gathering {
  display: flex;
  gap: 1rem;
}
.bg-img-div {
  display: flex;
  width: 100%;
}
.bg-background {
  width: 100%;
}
.next-row-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #f9f8fe;
}
.link-anchor {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #36957f;
  text-decoration: none;
  width: 10.6rem;
  color: #36957f;
}
.arrow-mark {
  vertical-align: middle;
}
.white-banner-div {
  width: 21rem;
  height: 14rem;
  background-color: white;
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.second-heading {
  font-family: "raleway";
  font-size: 3rem;
  width: 50rem;
  line-height: 4rem;
}
.second-main-img {
  width: 90%;
  height: auto;
}
.content2-div {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.para-second-heading {
  width: 34rem;
}
.para-another-heading {
  width: 34rem;
}
.white-box-element {
  padding-top: 0.5rem;
  list-style: none;
  width: 25rem;
  font-size: small;
  line-height: 1.4rem;
}
.avatar-container {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  gap: 1rem;
}
.avatar {
  width: 15%;
  height: auto;
  border-radius: 50%;
}
.avatar-detail-container {
  list-style: none;
  font-size: x-small;
  margin-top: 0.5rem;
}
.details1 {
  font-weight: 700;
}
.above-footer-section {
  width: 100%;
  height: auto;
  background-color: #575988;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
}
.early-access {
  font-family: "raleway";
  font-size: 2.4rem;
  width: 50rem;
  line-height: 4rem;
  color: white;
}
.access-para {
  width: 31rem;
  color: white;
}
.info-gather-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-box-main2 {
  margin-right: 2rem;
  width: 25rem;
  margin-top: 1.5rem;
  padding: 0.7rem 6rem 0.7rem 1rem;
}
.btn-main2 {
  width: 9rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: transparent;
  background-color: hsl(224, 93%, 58%);
  cursor: pointer;
  color: white;
  font-size: x-small;
  font-family: "Open Sans";
  font-weight: 700;
}
.btn-main:hover {
  background-color: #6b9bff;
}
.btn-main2:hover {
  background-color: #6b9bff;
}
.link-anchor:hover {
  color: #95d4d0;
}
.info-content-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-section {
  width: 100%;
  background-color: #07043b;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-detail-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.phone {
  padding-left: 1rem;
  color: white;
  font-size: small;
}
.mail {
  padding-left: 1rem;
  color: white;
  font-size: small;
}
.fa-solid {
  color: white;
}
.logo-footer {
  filter: grayscale(100%) invert(100%);
}
.about-container {
  margin-top: 4rem;
}
.aboutus-container {
  margin-top: 4rem;
  list-style: none;
  line-height: 2rem;
  color: white;
}
.terms-container {
  margin-top: 2rem;
}
.social-media-container {
  margin-top: 2rem;
  padding-right: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
}
.fa-brands {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  padding-top: 0.5rem;
  padding-left: 0.48rem;
  color: white;
}
.anchor-social .fa-brands:hover {
  color: #6696fc;
}
.text-box-main::placeholder {
  text-align: left;
}
.text-box-main2::placeholder {
  text-align: left;
}
.about-us-anchor {
  text-decoration: none;
  color: white;
}
.about-us-anchor:hover {
  color: #6696fc;
}
.navi-anchor {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 998px) {
  body {
    min-width: 100vh;
    min-height: 100vh;
  }
  .nav-section {
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
  }
  .features {
    margin-left: 2rem;
  }
  .logo-container {
    padding: 1rem;
    width: 20%;
  }
  .navitem-container {
    width: 20%;
    margin-left: 2rem;
  }
  .hero-section {
    flex-direction: column;
    padding: 1rem;
  }
  .next-row-section {
    flex-direction: column;
    padding: 1rem;
  }
  .content-div {
    order: 2;
    padding: 1rem;
  }
  .main-heading {
    width: 20rem;
    text-align: center;
    font-size: x-large;
    line-height: 2rem;
    margin: auto;
  }
  .para-for-heading {
    width: 22rem;
    text-align: center;
  }
  .input-gathering {
    flex-direction: column;
  }
  .content2-div {
    order: 2;
  }
  .second-heading {
    padding-top: 3rem;
    font-size: large;
    line-height: 2rem;
    width: 25rem;
    text-align: center;
  }
  .para-second-heading {
    width: 23rem;
    text-align: left;
  }
  .para-another-heading {
    width: 23rem;
    text-align: left;
  }
  .white-banner-div {
    margin: auto;
  }
  .link-anchor {
    margin: auto;
  }
  .above-footer-section {
    flex-direction: column;
    padding: 1rem;
  }
  .early-access {
    font-size: large;
    line-height: 2rem;
    text-align: center;
    width: auto;
  }
  .access-para {
    text-align: center;
    width: auto;
    padding-bottom: 1rem;
    width: 20rem;
    margin: auto;
  }
  .info-gather-div {
    padding-bottom: 4rem;
  }
  .text-box-main2 {
    margin: auto;
    width: 19rem;
  }
  .btn-main2 {
    width: 19rem;
    margin: auto;
  }
  .footer-section {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .social-media-container {
    margin: auto;
  }
  .img-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main1-img {
    width: 50%;
    height: auto;
  }
  .second-main-img {
    width: 50%;
    height: auto;
  }
  .logo {
    width: 140%;
    height: auto;
  }
  .logo-footer {
    width: 80%;
    height: auto;
  }
  .signin {
    white-space: nowrap;
  }
}
